{% extends 'base.html.twig' %}

{% block title "Listes des recettes" %}
{% block body %}
    <h1>Liste des recettes</h1>

    <table class="table">
        <thead>
            <tr>
                <th> Recettes </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td> {{ recipe.title }} </td>
                    <td>
                        <div class="d-flex gap-2">
                            <a class="btn btn-primary" href="{{ url('recipe.show', {'id': recipe.id, 'slug': recipe.slug}) }}">Voir</a>
                            <a class="btn btn-secondary" href="{{ url('recipe.edit', {'id': recipe.id}) }}">Éditer</a>
                            {# Permet d'éviter que le lien d'action ne supprime pas directement la recette #}
                            <form action="{{ path('recipe.delete', {id: recipe.id}) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" href="{{ url('recipe.create') }}">Créer une nouvelle recette</a>
    </div>
{% endblock %}